{% include "admin/header.html" with title="文件管理" %} {% load staticfiles %} {% load admin_tags %}


<link type="text/css" rel="stylesheet"
      href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" media="screen"/>
<link type="text/css" rel="stylesheet"
      href="{% static 'admin/plugins/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css' %}"
      media="screen"/>

<style>
    .plupload_droptext {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        text-align: center;
        vertical-align: middle;
        border: 0;
        line-height: 160px;
        display: none;
        font-size: 30px;
    }

    .attach-img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px #333;
    }

    .attach-text {
        font-size: 12px;
        font-weight: 300;
    }

    .attach-img:hover {
        background-color: #f9f9f9;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">文件管理</h4>
        <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
            <input class="form-control" placeholder="请输入文件名" name="title" required/>
        </div>
        <button type="button" class="btn btn-primary waves-effect waves-light"
                onclick="subArticle('search');">
            搜索文件
        </button>
        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="refresh();">
            刷新文件列表
        </button>
    </div>

    <div class="row">
        <div class="col-md-12 portlets">
            <div class="m-b-30">
                <div id="uploader" class="ui-button-text">
                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 attach">
        {% if file_list %} {% for attach in file_list %}
            <div class="col-md-2 text-center m-t-10">
                <a href="{{ attach_url }}{{ attach.key }}" target="_blank">
                    <img class="attach-img" {% if 'image' in attach.file_type %}
                         src="{{ attach_url }}{{ attach.key }}" {% else %}
                         src="{% static 'admin/images/attach.png' %}" {% endif %}
                         title="{{ attach.key }}"/>
                </a>
                <div class="clearfix m-t-10">
                    <span class="attach-text" data-toggle="tooltip" data-placement="top"
                          data-original-title="{{ attach.key }}">{% get_file_name attach.key %}</span>
                </div>
                <div class="clearfix">
                    <button url="{{ attach_url }}{{ attach.key }}" type="button"
                            class="btn btn-warning btn-sm waves-effect waves-light m-t-5 copy">
                        <i class="fa fa-copy"></i> <span>复制</span>
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-sm waves-effect waves-light m-t-5"
                            onclick="delAttach({{ attach.pk }});">
                        <i class="fa fa-trash-o"></i> <span>删除</span>
                    </button>
                </div>
            </div>
        {% endfor %} {% else %}
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="alert alert-warning">
                        目前还没有一个附件呢，你可以上传试试!
                    </div>
                </div>
            </div>
        {% endif %} {# 分页信息#}

        <ul class="pagination m-b-5 pull-right">
            {% if file_list.has_previous %}
                <li>
                    <a href="?page={{ file_list.previous_page_number }}" aria-label="Previous">
                        <i class="fa fa-angle-left"></i>&nbsp;上一页
                    </a>
                </li>
            {% endif %} {% for nav in file_list.paginator.page_range %}
            {% ifequal nav file_list.number %}
                <li class="active">
                    {% else %}
                <li>{% endifequal %}
        <a href="?page={{ nav }}">{{ nav }}</a>
        </li>
            </li>

        {% endfor %} {% if file_list.has_next %}
            <li>
                <a href="?page={{ file_list.next_page_number }}" aria-label="Next">
                    下一页&nbsp;<i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
            <li><span>共{{ file_list.paginator.num_pages }}页</span></li>
        </ul>

    </div>
</div>

{% include 'admin/footer.html' %}


<script src="//cdn.bootcss.com/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="{% static 'admin/plugins/plupload/js/plupload.full.min.js' %}"></script>
<script src="{% static 'admin/plugins/plupload/js/i18n/zh_CN.js' %}"></script>
<script type="text/javascript"
        src="{% static 'admin/plugins/plupload/js/jquery-ui.min.js' %}"
        charset="UTF-8"></script>
<script type="text/javascript"
        src="{% static 'admin/plugins/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js' %}"
        charset="UTF-8"></script>
<script src="{% static 'admin/js/qiniu.min.js' %}"></script>

<script type="text/javascript">
    var tale = new $.tale();
    $(function () {
        $("#uploader").plupload({
            // General settings
            runtimes: 'html5,flash,silverlight,html4',
            url: 'http://upload.qiniu.com/', // 服务器上传地址
            // Maximum file size
            max_file_size: '5mb',
            chunk_size: '1mb',
            // Specify what files to browse for
            filters: [
                {title: "Image files", extensions: "jpg,gif,png"},
            ],
            resize: {width: 800, height: 800, crop: true, quality: 60, preserve_headers: false},
            // Rename files by clicking on their titles
            rename: true,
            // Sort files
            sortable: true,
            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,
            // Views to activate
            views: {
                list: false,
                thumbs: true, // Show thumbs
                active: 'thumbs'
            },
            flash_swf_url: '{% static 'admin/plugins/plupload/js/Moxie.swf' %}',  //flash地址
            silverlight_xap_url: '{% static 'admin/plugins/plupload/js/Moxie.xap' %}',
            init: {
                'FilesAdded': function (up, files) {
                },
                'BeforeUpload': function (up, file) {
                    // 设置当前上传文件名和token
                    up.setOption('multipart_params', {
                        'token': '{{ token }}',
                        'key': "blog_image/" + file.name,
                        'callbackBody': "name=$(fname)&hash=$(etag)&location=$(x:location)&price=$(x:price)&uid=123",
                    });
                },
                'UploadProgress': function (up, file) {
                    // 每个文件上传时,处理相关的事情
                },
                'FileUploaded': function (up, file, info) {
                    file_upload(info)
                },
                'Error': function (up, err, errTip) {
                    //上传出错时,处理相关的事情
                },
                'UploadComplete': function () {
                    // 修改表格状态
                    // 清空文件队列
                    if (upload_save_status) {
                        tale.alertOkAndReload('附件上传成功');
                    } else {
                        tale.alertOk('附件上传成功');
                        refresh()
                    }
                }
            }
        });
    });

    var upload_save_status = true

    function file_status(status) {
        upload_save_status = !!(status && upload_save_status);
    }

    function file_upload(info) {
        tale.post({
            url: '/xadmin/attach/upload/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                info: info
            },
            success: function (result) {
                file_status(result && result.success)
            }
        });
    }
    var clipboard = new Clipboard('button.copy', {
        text: function (trigger) {
            return $(trigger).attr('url');
        }
    });

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
        e.clearSelection();
    });

    function delAttach(pk) {
        tale.alertConfirm({
            title: '确定删除该附件吗?',
            then: function () {
                tale.post({
                    url: '/xadmin/attach/delete/',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        pk: pk
                    },
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('文件删除成功');
                        } else {
                            tale.alertError(result.msg || '文件删除失败');
                        }
                    }
                });
            }
        });
    }

    function refresh() {
        tale.showLoading();
        tale.post({
            url: '/xadmin/attach/refresh/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (result) {
                tale.hideLoading()
                if (result && result.success) {
                    tale.alertOkAndReload('文件列表刷新成功');
                } else {
                    tale.alertError(result.msg || '文件列表刷新失败');
                }
            }
        });
    }
</script>

</body>

</html>