{% include 'admin/header.html' with title="评论管理" %}
{% load admin_tags %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">评论管理</h4>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>评论内容</th>
                <th>评论人</th>
                <th>评论时间</th>
                <th>评论人邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comment_list %}
                <tr cid="{{ comment.pk }}">
                    <td>
                        <a href="{{ comment.post.get_absolute_url }}" target="_blank">{{ comment.text }}</a>
                    </td>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.created_time|date:"Y-m-d" }}</td>
                    <td>${comment.mail}</td>
                    <td>
                        <a href="javascript:void(0)" onclick="reply('{{ comment.pk }}');"
                           class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i class="fa fa-edit"></i>
                            <span>回复</span></a>
                        <a href="javascript:void(0)" onclick="delComment({{ comment.pk }});"
                           class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i class="fa fa-trash-o"></i>
                            <span>删除</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'admin/paginated.html' %}
    </div>
</div>

{% include 'admin/footer.html' %}

<script type="text/javascript">

    var tale = new $.tale();

    function reply(coid) {
        swal({
            title: "回复评论",
            text: "请输入你要回复的内容:",
            input: 'text',
            showCancelButton: true,
            confirmButtonText: '回复',
            cancelButtonText: '取消',
            showLoaderOnConfirm: true,
            preConfirm: function (comment) {
                return new Promise(function (resolve, reject) {
                    tale.post({
                        url: '/admin/comments',
                        data: {coid: coid, content: comment},
                        success: function (result) {
                            if (result && result.success) {
                                tale.alertOk('已回复');
                            } else {
                                tale.alertError(result.msg || '回复失败');
                            }
                        }
                    });
                })
            },
            allowOutsideClick: false
        });
    }

    function delComment(coid) {
        tale.alertConfirm({
            title: '确定删除该评论吗?',
            then: function () {
                tale.post({
                    url: '/admin/comments/delete/',
                    data: {coid: coid},
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOkAndReload('评论删除成功');
                        } else {
                            tale.alertError(result.msg || '评论删除失败');
                        }
                    }
                });
            }
        });
    }

</script>

</body>
</html>