{% extends 'blog/base.html' %}
{% load blog_tags %}
{% get_blog_set as blog %}

{% block title %}{{ post.title }}&nbsp;-&nbsp;{{ blog.site_name }}{% endblock title %}
{% block main %}
    <div class="content-wrap  page-post-detail">
        <div id="content" class="content">
            <div id="post" class="posts-expand fadeInDown">
                <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">
                    <header class="post-header">
                        <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
                        <div class="post-meta">
                            <span class="post-time">
                                <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
                                <span class="post-meta-item-text">发表于</span>
                                <time itemprop="dateCreated">{{ post.created_time|date:"Y-m-d" }}</time>
                            </span>
                            <span class="post-category">&nbsp; | &nbsp;
                                <span class="post-meta-item-icon">
                                    <i class="fa fa-folder-o"></i>
                                </span>
                                <span class="post-meta-item-text">标签</span>
                                <span itemprop="about" itemscope="" itemtype="https://schema.org/Thing">
                                        {% for tag in post.tags.all %}
                                            <a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
                                            {% if not forloop.last %}
                                                ,{% endif %}
                                        {% endfor %}
                                </span>
                            </span>
                            {#                            <span class="post-comments-count">&nbsp; | &nbsp;#}
                            {#                                <a href="#comments" itemprop="discussionUrl">#}
                            {#                                    <span class="post-comments-count ds-thread-count" data-thread-key=""#}
                            {#                                          itemprop="commentsCount"></span>#}
                            {#                                </a>#}
                            {#                            </span>#}

                            <span class="leancloud_visitors">
               &nbsp; | &nbsp;
               <span class="post-meta-item-icon">
                 <i class="fa fa-eye"></i>
               </span>
               <span class="post-meta-item-text">阅读次数 </span>
               <span class="leancloud-visitors-count">{{ post.views }}</span>
              </span>
                        </div>
                    </header>
                    <div class="post-body" itemprop="articleBody">
                        {{ post.body|safe }}
                    </div>

                </article>
            </div>
        </div>
    </div>


{% endblock main %}
{% block sidebar %}page-post-detail{% endblock %}
{% block post_select %}
    <ul class="sidebar-nav motion-element">
        <li class="sidebar-nav-toc sidebar-nav-active" data-target="post-toc-wrap">
            文章目录
        </li>
        <li class="sidebar-nav-overview" data-target="site-overview">
            站点概览
        </li>
    </ul>
{% endblock post_select %}
{% block select %}
     <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active">
            <div class="post-toc">
                <div class="post-toc-content"><ol class="nav" id="category_nav">
                </ol></div>
            </div>
        </section>
{% endblock %}
{#{% block toc %}#}
{#    <div class="widget widget-content">#}
{#        <h3 class="widget-title">文章目录</h3>#}
{#        {{ post.toc|safe }}#}
{#    </div>#}
{#{% endblock toc %}#}
{% block script %}
    <script type="text/javascript">
        $(".site-overview").css("display", "none");
        if ($("#content h2").length > 0) {
            $("#content h2").each(function () {
                $(this).attr("id", $(this).html().replace(/ +/g, '-').replace(/<(\/a|a).*>/g, ""));
                $("#category_nav").html($("#category_nav").html() + '<li class="nav-item nav-level-2"><a class="nav-link" href="#' + $(this).html().replace(/ +/g, '-').replace(/<(\/a|a).*>/g, "") + '"><span class="nav-text">' + $(this).html().replace(/<(\/a|a).*>/g, "") + '</span></a></li>');
            });
        } else {
            $("#category_nav").html($("#category_nav").html() + '<span class="nav-text">暂无目录</span>');
        }
    </script>
{% endblock %}
