{% if is_paginated %}
    <nav class="pagination">
        {% ifnotequal page_obj.number 1 %}
            <a class="extend prev" rel="prev"
               href="?page={{ page_obj.previous_page_number }}"><i
                    class="fa fa-angle-left"></i></a>
        {% endifnotequal %}
        {% if first %}
            <a class="page-number" href="?page=1">1</a>
        {% endif %}

        {% if left %}
            {% if left_has_more %}
                <span class="space">…</span>
            {% endif %}
            {% for i in left %}
                <a class="page-number" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        <span class="page-number current">{{ page_obj.number }}</span>
        {% if right %}
            {% for i in right %}
                <a class="page-number" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if right_has_more %}
                <span class="space">…</span>
            {% endif %}
        {% endif %}


        {% if last %}
            <a class="page-number"
               href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        {% endif %}
        {% ifnotequal page_obj.number paginator.num_pages %}
            <a class="extend next" rel="next"
               href="?page={{ page_obj.next_page_number }}"><i
                    class="fa fa-angle-right"></i></a>
        {% endifnotequal %}
    </nav>
{% endif %}