{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block header %}
    {% get_blog_set as blog %}
    {% url 'blog:index' as blog_url %}
    {% if category_name %}
        {% include 'blog/header.html' with keywords=blog.keywords description=blog.description title="分类: "|add:category_name|add:" | "|add:blog.site_name url=blog_url setType='website' type='page-archive' %}
    {% else %}
        {% include 'blog/header.html' with keywords=blog.keywords description=blog.description title='归档 | '|add:blog.site_name url=blog_url setType='website' type='page-archive' %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="post-block archive">
        <div id="posts" class="posts-collapse">
            <span class="archive-move-on"></span>
            {% ifequal request.path '/records/' %}
                <span class="archive-page-counter">好! 目前共计&nbsp;{% get_post_count %}&nbsp;篇文章。 继续努力。</span>
            {% else %}
                <div class="collection-title">
                    <h2>{{ category_name }}&nbsp;<small>分类</small>
                    </h2>
                </div>
            {% endifequal %}
            <div id="hidden-temp-container" style="display: none;">
                {% for post in post_list %}
                    <article class="post post-type-normal" itemscope=""
                             itemtype="http://schema.org/Article">
                        <header class="post-header">
                            <h2 class="post-title">
                                <a class="post-title-link"
                                   href="{% url 'blog:detail_slug' slug=post.slug %}"
                                   itemprop="url">
                                    <span itemprop="name">{{ post.title }}</span>
                                </a>
                            </h2>
                            <div class="post-meta">
                                <time class="post-time" itemprop="dateCreated"
                                      year="{{ post.created_time|date:"Y" }}">
                                    {{ post.created_time|date:"m-d" }}
                                </time>
                            </div>
                        </header>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'blog/pagination.html' %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var counter = 0;
        var currentYear;
        $("#hidden-temp-container article").each(function () {
            if (counter == 0) {
                currentYear = $(this).find("time").attr("year");
                $("#posts").html($("#posts").html() + '<div class="collection-title">' +
                    '<h1 class="archive-year motion-element" id="archive-year-' + currentYear + '" style="opacity: 1;">' + currentYear + '</h1>' +
                    '</div>');
            }
            if ($(this).find("time").attr("year") < currentYear) {
                currentYear = $(this).find("time").attr("year");
                $("#posts").html($("#posts").html() + '<div class="collection-title">' +
                    '<h1 class="archive-year motion-element" id="archive-year-' + currentYear + '" style="opacity: 1;">' + currentYear + '</h1>' +
                    '</div>');
            }
            $(this).addClass("post post-type-normal");
            $("#posts").append($(this));
            counter += 1;
        });
    </script>
    <script type="text/javascript" src="{% static 'blog/js/scrollspy.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/post-details.js' %}"></script>
{% endblock %}
